/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  min-width: 375px;
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  background-image: url(../images/cover-image-dark.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header {
  color: #ff0070;
  padding: 10px;
}

.header__title {
  font-size: 118px;
  color: #db00ff;
  text-shadow: 4px 4px 0 #ff0070;
  line-height: 82%;
}

.header__text {
  min-width: 365px;
  min-height: 117px;
  background-color: #ff0070;
  color: black;
  font-weight: 800;
  margin: 55px 0 66px 0;
}

.header__rec {
  position: absolute;
  right: 28px;
  top: 21px;
  font-size: 18px;
  line-height: 25px;
}

.header__rec::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: #ff0070;
  border-radius: 50%;
  margin-top: 7px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-top: 1px solid #ff0070;
  border-right: 1px solid #ff0070;
  right: 10px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid #ff0070;
  border-left: 1px solid #ff0070;
  left: 10px;
}

.header__theme-menu {
  margin-top: 75px;
  display: flex;
  justify-content: end;
}

.header__theme-menu-list {
  list-style: none;
}

.header__theme-menu-button {
  font-size: 18px;
  background-color: inherit;
  color: #ff0070;
  border: none;
  text-transform: lowercase;
}
.main {
  padding: 0 10px;
  margin-top: 40px;
}
.content__title {
  color: #ff0070;
  background-color: inherit;
  font-size: 18px;
  font-weight: bold;
  margin-top: 50px;
}

.content__subtitle {
  background-color: #ff0070;
  color: black;
  font-weight: 800;
  margin: 20px 0 10px 0;
  line-height: 23.4px;
}

.content__text {
  font-size: 19px;
  line-height: 23.4px;
  color: #f1b2ce;
}

.content__advice {
  background-color: #ff0070;
  color: black;
  margin: 20px 0 10px 0;
  line-height: 23.4px;
  font-weight: 400;
}

.cards {
  display: grid;
  gap: 10px;
}

.card__image {
  width: 100%;
}

.footer {
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 667px;
  margin-top: 40px;
}

.footer__title {
  font-size: 118px;
  color: #db00ff;
  text-shadow: 4px 4px 0 #ff0070;
  line-height: 82%;
  font-weight: bold;
}
