/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-family: "IBM Plex Mono", sans-serif;
  font-size: 18px;
  background-color: var(--page-bg-color);
  background-attachment: fixed;
}

.header {
  color: var(--accent-color);
  padding: 10px;
  background-image: var(--header-bg-image);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 660px;
  height: 100vh;
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 82%;
  margin-top: 70px;
}

.header__text {
  background-color: var(--accent-color);
  color: var(--text-color);
  font-weight: 800;
  line-height: 23.4px;
  margin: 53px 0 45px 0;
}

.header__rec {
  position: absolute;
  right: 38px;
  top: 10px;
  font-size: 18px;
  line-height: 25px;
  color: var(--header-rec);
}

.header__rec::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: var(--header-rec);
  border-radius: 50%;
  margin-top: 7px;
  margin-left: 10px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  right: 10px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  left: 10px;
  top: 633px;
}

.header__theme-menu {
  margin-top: 64px;
  display: flex;
  justify-content: end;
}

.header__theme-menu-list {
  display: grid;
  gap: 11px;
  list-style: none;
}

.header__theme-menu-button {
  font-size: 18px;
  width: 70px;
  background-color: inherit;
  color: var(--accent-color);
  border: none;
  text-transform: lowercase;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--outline-hover);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
  pointer-events: none;
}

.main {
  padding: 0 10px;
}
.content__title {
  color: var(--content-title-color);
  background-color: inherit;
  font-size: 18px;
  font-weight: bold;
  margin-top: 48px;
}

.content__subtitle {
  background-color: var(--accent-color);
  color: var(--text-color);
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 800;
  margin: 21px 0 10px 0;
}

.content__subtitle__cards {
  background-color: var(--accent-color);
  color: var(--text-color);
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 800;
  margin: 50px 0 10px 0;
}

.content__text {
  font-size: 18px;
  line-height: 23.4px;
  color: var(--content-text-color);
}

.content__link {
  text-decoration: none;
  text-shadow: 1px 2px 0 var(--accent-color);
}

.content__link:hover {
  border-bottom: 1px solid var(--content-text-color);
}

.content__link:focus {
  outline: 1px solid var(--content-text-color);
}

.content__advice {
  background-color: var(--accent-color);
  color: var(--text-color);
  margin: 20px 0 10px 0;
  line-height: 23.4px;
  font-weight: 400;
}

.cards {
  display: grid;
  gap: 5px;
}

.card__image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-block-size: 668px;
  margin-top: 40px;
}

.footer__title {
  font-size: 118px;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 82%;
  font-weight: bold;
}

.footer::before {
  content: "";
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  justify-self: end;
  align-self: baseline;
  margin-top: 9px;
}

.footer::after {
  content: "";
  align-self: end;
  margin-bottom: 12px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

@media (min-width: 767px) {
  .header {
    block-size: 1024px;
    padding-left: 0;
  }
  .header__rec {
    top: 19px;
    right: 48px;
  }

  .header__text {
    display: flex;
    width: 364px;
    justify-self: self-end;
    margin-right: 10px;
    margin-top: 162px;
  }

  .header__theme-menu {
    margin-right: 10px;
    margin-top: 180px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-top: 174px;
  }

  .main {
    padding: 0 20px;
  }
  .content:nth-child(1) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }
  .content:nth-child(1) .content__title {
    margin-top: 20px;
  }

  .content:nth-child(2) .content__title {
    display: grid;
    grid-template-columns: 200px;
    margin-top: 77px;
  }

  .content:nth-child(3) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 79px;
    gap: 20px;
  }

  .content:nth-child(3) .content__title {
    grid-row: 1/5;
    margin: 0;
  }

  .content:nth-child(3) .content__subtitle {
    margin: 0 0 -20px 0;
  }
  .cards {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
  }

  .cards__item:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .cards__item:nth-child(2) {
    grid-column: 3/ 3;
    grid-row: 1 / 3;
  }

  .cards__item:nth-child(3) {
    grid-column: 1/1;
    grid-row: 2/4;
  }

  .cards__item:nth-child(5) {
    grid-column: 2/4;
  }

  .content__subtitle__cards {
    margin: 39px 0 13px 0;
  }

  .footer {
    align-items: baseline;
    min-block-size: 1024px;
    margin-top: 0;
  }

  .footer__title {
    font-size: 120px;
    padding-right: 30px;
  }

  .footer::after {
    position: relative;
    right: 183px;
    bottom: 156px;
  }
  .footer::before {
    position: relative;
    left: 170px;
    top: 80px;
  }
}

@media (min-width: 1024px) {
  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    left: 20px;
    top: 723px;
  }
  .header {
    block-size: 768px;
  }

  .header__title {
    margin-top: 277px;
  }

  .header__theme-menu {
    justify-content: center;
    margin-top: 0;
  }

  .header__theme-menu-list {
    display: flex;
    margin-top: 8px;
    margin-left: 20px;
    gap: 10px;
  }

  .header__text {
    width: 491px;
    margin-top: 113px;
  }

  .content:nth-child(1) {
    gap: 10px;
  }

  .content:nth-child(2) .content__title {
    grid-template-columns: 315px;
  }

  .content:nth-child(2) ul {
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .content:nth-child(3) {
    padding-left: 0px;
    gap: 0;
  }

  .content:nth-child(3) .content__subtitle {
    margin: 0 0 0 7px;
  }

  .content:nth-child(3) ul {
    margin: 0 0 0 7px;
  }

  .content__subtitle__cards {
    margin: 80px 0 20px 0;
  }

  .footer__title {
    font-size: 157px;
    padding-right: 0;
    margin-top: 88px;
  }

  .footer::before {
    left: 256px;
    top: 57px;
  }

  .footer::after {
    right: 257px;
    bottom: 219px;
  }
}
